.qodo

client/.gitignore
client/package-lock.json
client/node_modules
client/ readme.md
client/FrontEndStructure.bash

server/.gitignore
server/package-lock.json
server/node_modules
server/ readme.md
server/.gitattributes
server/mvnw
server/mvnw.cmd
server/.mvn
server/src/main/resources/application.properties
server/src/main/resources/serviceAccountKey.json

*/.env

*.jpg
*.jpeg
*.png
*.gif
*.svg
*.ico
*.webp
*.mp4
*.webm
